body{
    background-image:url('imagens/index_bg3.jpg');
    background-position: center;
    background-size: cover;
}
#container {
    display: block;
    
    background-color: white;
    margin: 50px auto;
    max-width: 1200px;
    border: 3px solid navy;
    text-align: center;
    padding: 70px;
    font-family: Arial, sans-serif;
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}